QPushButton#switchPushButton
{
    border:0px;
    height: 60px;
    min-width: 180px;
    max-width: 180px;
    border:0px;
    border-image: url(:/images/toggle_on.png) 0 0 0 0 stretch stretch;
    margin-left:5px;
    margin-right:5px;
    padding: 0px;
    background-color:none;
}

QPushButton#switchPushButton:checked
{
    border-image: url(:/images/toggle_off.png) 0 0 0 0 stretch stretch;
}
